/* NavBar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transition: margin .5s;
}

/* The menu icon */
.nav {
  z-index: 200;
  float: left;
  padding: .6em 1em;
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
  opacity: 1;
  transition: opacity .5s;
  background: rgba(255,255,255,0.9);
  border-radius: 0 0 7px 0;
}

.nav span {
  /*float: left;*/
  padding-left: .4em;
}

.directions {
  float: left;
  padding-left: 32px;
}

.directions span {
  padding-left: .4em;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: -250px;
    background-color: #222; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .sidenav p, .sidenav h3 {
    padding: 8px 8px 8px 32px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav h3 {
  padding: 24px 8px 0px 32px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
}

.sidenav p {
  font-size: 18px;
  padding: 8px 32px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #57b6dc;
}

/* Position and style the close button (top right corner) */
.sidenav a.closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 42px;
  margin-left: 50px;
  padding-top: 0px;
  margin-top:-3px;
}

.sidenav .button {
  margin-top: 8px;
  color: #fff !important;
}

.sidenav .icons {
  clear: left;
  padding: 12px 32px 44px 32px;
}

.sidenav .icons a {
    padding: 4px 0;
    font-size: 16px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#wrapper {
    transition: left .5s;
    position: relative;
    left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* non-nav tweaks */
#more-info .icon, .button:hover, a:hover, a.icon.style2:hover:before {
  color: #57b6dc !important;
}

a.icon.style2:hover:before, .button:hover {
  box-shadow: inset 0 0 0 1px #57b6dc;
}

#more-info .icon.style2:before {
  box-shadow: inset 0 0 0 1px rgba(87, 182, 220, 0.5);
  /* brown: box-shadow: inset 0 0 0 1px rgba(114, 100, 87, 0.2); */
}

.html-lightbox-modal {
  background: #fff;
  padding: 3rem 4rem 1rem 4rem;
  border-radius: 30px;
  width: 90%;
  max-height: 80%;
  overflow-y: scroll;
  text-align: center;
}
